@media screen and (min-width: 601px) {
    .about h1{
        text-align: center;
        font-size: 50px;
        margin-top: 0;
        padding-top: 3em;
    }

    .about-first{
        display: block;
        margin: auto;
        padding: 20px;
    }

    .what{
        display: flex;
        justify-content: space-between;
        padding: 0 1%;
    }

    .how{
        display: flex;
        justify-content: space-between;
        padding: 0 1%;
    }

    .identity{
        display: flex;
        justify-content: space-between;
        padding: 0 1%;
    }

    .text{
        width: 50%;
        margin: 20px;
        padding: 10px;
    }

    .text h2{
        font-size: 300%;
        text-align: center;
    }

    .text p{
        font-size: 150%;
        margin: 0 2%;
        text-align: center;
    }

    .a-image{
        width: 50%;
        height: 100%;
        padding: 2% 0;
    }
}
@media only screen and (max-width: 600px) {
    .about h1{
        text-align: center;
        font-size: 30px;  
    }

    .about-first{
        display: block;
        margin: auto;
        padding: 20px;
    }

    .what{
        display: block;
        justify-content: space-between;
        padding: 0 1%;
    }

    .how{
        display: block;
        justify-content: space-between;
        padding: 0 1%;
    }

    .identity{
        display: block;
        justify-content: space-between;
        padding: 0 1%;
    }

    .text{
        margin: 10px 2px;
        padding: 10px 2px;
    }

    .text h2{
        font-size: 200%;
    }

    .text p{
        font-size: 15px;
    }

    .a-image{
        width: 98%;
        height: 100%;
    }
}