.about h1{
    text-align: center;
    font-size: 50px;  
}

.about-first{
    display: block;
    margin: auto;
    padding: 20px;
}

.what{
    display: flex;
    justify-content: space-between;
    padding: 0 1%;
}

.how{
    display: flex;
    justify-content: space-between;
    padding: 0 1%;
}

.identity{
    display: flex;
    justify-content: space-between;
    padding: 0 1%;
}

.text{
    margin: 20px;
    padding: 10px;
}

.text h2{
    font-size: 300%;
}

.text p{
    font-size: 30px;
}

.a-image{
    width: 50%;
    height: 100%;
}