@media screen and (min-width: 601px) {
    .allevents{
        width: 50vw;
        margin: 2% 25%;
        padding-top: 10%;
    }
    .buttons{
        align-items: center;
        display: flex;
        justify-content: space-between;
        
    }
    .buttons button{
       text-align: center;
       height: 450px;
       width: 450px;
       background-color: grey;
       border-radius: 20%;
       border: 4px dotted greenyellow;
       font-size: 50px;
       color: rgb(109, 85, 7);
       
    }

    .buttons button:hover{
        background-color: turquoise;
    }
    .upevents{
        display: none;
        padding: 3%;
        width: 50%;
        position: relative;
        left: 25%;
        height: 50%;
    }
    .udevent{
        text-align: center;
        padding: 3%;
        align-items: center;
        border: 10px green dotted;
        margin: 3%;
        border-radius: 10%;
    }
    .udevent img{
        border-radius: 30%;
        height: 200px;
    }
    .uevent-details{
        font-size: 150%;
    }
    

}
@media only screen and (max-width: 600px) {
    .allevents{
        width: 50vw;
        margin: 0;
    }
    .buttons{
        align-items: center;
        display: block;
        margin: 10px;
    }
    .buttons button{
       text-align: center;
       height: 70vw;
       width: 40vh;
       background-color: grey;
       border-radius: 20%;
       border: 4px dotted greenyellow;
       font-size: 50px;
       color: rgb(109, 85, 7);
       padding: 1%;
       margin: 3%;
    }
    .buttons button:hover{
        background-color: turquoise;
        color: aliceblue;
    }
}