@media screen and (min-width: 601px) {
    body{
        background-color: goldenrod;
    }
    .header{
        margin-bottom: 0;
        padding-top: 0px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100px;
        position: fixed;
        width: 99vw;
        border-radius: 5%;
        
    }
    .header .pnavigation{
        display: none;
    }
    .pnav{
        display: none;
    }
    .home{
        margin: 0px;
        padding: 0px;
        width: 99vw;
        height: 50vh;
        background-position: center;
        border: goldenrod solid;
    }


    .navi{
        width: 95vw;
        text-align: center;
        margin-top: 0;
    }
    .logo{
        width:80px;
        height: 80px;
    }

    .navi button{
        margin-right: 20px;
        font-size: 19px;
        margin: 50px 20px;
        border-radius: 12px;
        border: 2px dotted purple;
        background-color: black;
        color: white;
    }

    .navi button:hover {
        background-color: blue;
        color:rgb(226, 171, 19);
        cursor: grab/pointer;
    }
    .navi span a{
        text-decoration: none;
        color: white;
        font-size: 50px;

    }
    .navi span a:hover{
        color: blue;
    }
    .home h1 {
        text-align: center;
        font-size: 80px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: white;
        margin-top: 100px;
        padding-top: 50px;
        font-stretch: expanded;
        margin-bottom: 0;
        padding-bottom: 0;
    }
    .home h2 {
        text-align: center;
        font-size: 60px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: white;
        margin-top: 10px;
        padding-top: 10px;
        margin-bottom: 0;
        padding-bottom: 0;
    }
    .home h3 {
        text-align: center;
        font-size: 80px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: white;
        margin-top: 10px;
        padding-top: 10px;
        margin-bottom: 0;
        padding-bottom: 0;
    }
    .index-event{
        height: 80vh;
        background-color: antiquewhite;
        overflow: hidden;
        border-radius: 5%;
    }
    .index-event h1{
        text-align: center;
        font-size: 60px;
        font-family: 'Courier New', Courier, monospace;
        margin: 20px;
    }
    .index-event p a{
        text-decoration: none;
        color: red;
        font-size: 30px;
        text-align: center;

    }
    .index-event p{
        text-align: center;
        font-size: 20px;
    }
    .ievent{
        display: flex;
        height: 99%;
        width: 99%;
    }
    .devent{
        overflow: hidden;
        margin: 30px;
        position: relative;
    }
    .devent img{
        width: 98%;
        height: 90%;
        border-radius: 30%;
    }
    .event-details{
        text-align: center;
        position: absolute;
        top: 50%;
        left: 30%; 
        padding: 5px;
        background-color: transparent;
        color: whitesmoke;
        font-size: 20px;  
    }
    .event-details a{
        text-decoration: none;
        color: green;
    }
    .event-details a:hover {
        color: blue;
    }
    .index-about{
        height: 30vh;
        padding: 10px 50px 0 50px ;
        text-align: center;
        overflow: hidden;
        margin: 20px;
    }
    .index-about h1{
        font-size: 50px;
    }
    .index-about p{
        font-size: 20px;
    }
    .index-inspiration{
        height: 30vh;
        padding: 10px 50px 0 50px ;
        text-align: center;
        overflow: hidden;
        margin: 20px;
        background-color: antiquewhite;
        border-radius: 20%;
        border: 5px dotted greenyellow;
    }
    .index-inspiration h1{
        font-size: 50px;
    }
    .index-inspiration p{
        font-size: 20px;
    }
    .socials{
        width: 98vw;
        height: 30vh;
        text-align: center;
        margin: 50px 20px 0 20px;
    }
    .socials h1{
        text-align: center;
        font-size: 60px;
        font-family: 'Courier New', Courier, monospace;
        margin: 20px;
    }
    .icons{
        display: flex;
        width: 100%;
        height: 90%;
        justify-content: space-around;
    }
    .icon p{
        font-size: 40px;
        color: white;
        margin-top: 0;
    }
    .fa {
        padding: 20px;
        text-align: center;
        text-decoration: none;
        margin: 0 2px;
        width: 70px;
    }

    .fa:hover {
        opacity: 0.7;
    }

    .fa-facebook {
        background: #3B5998;
        color: white;
    }

    .fa-twitter {
        background: #55ACEE;
        color: white;
    }
    .fa-youtube {
        background: #bb0000;
        color: white;
    }

    .fa-instagram {
        background: #125688;
        color: white;
    }


    footer{
        text-align: center;
        color: green;
        margin-bottom: 0%;
        padding-bottom: 0%;
    }

    footer a{
        color: white;
    }

    @keyframes head{
        
    }
}

@media only screen and (max-width: 600px) {

    .navi img{
        display: none;
    }
    body{
        background-color: goldenrod;
    }
    .header .navi{
        display: none;
    }
    .header button {
        margin-top: 20px;
        width: 10%;
        position: fixed;
        background-color: green;
        top: 0;
    }
    /* The side navigation menu */
    .pnavigation {
        height: 100%; 
        width: 0; 
        position: fixed; 
        z-index: 1; 
        top: 0; 
        left: 0;
        background-color: blue; 
        overflow-x: hidden; 
        padding-top: 15px; 
        transition: 0.5s;
        position: fixed;
    }

/* The navigation menu links */
    .pnavigation a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 18px;
        color: #818181;
        display: block;
        transition: 0.3s;
        
    }

/* When you mouse over the navigation links, change their color */
    .pnavigation a:hover {
        color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
    .pnavigation .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }
    .home{
        margin: 0px;
        padding: 10px 20px;
        height: 40vh;
    }
    .home h1 {
        text-align: center;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: white;
        margin-top: 10px;
        padding-top: 10px;
        margin-bottom: 0;
        font-size: 50px;
    }
    .home h2 {
        text-align: center;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: white;
        margin-top: 0;
        padding-top: 0;
        font-size: 50px;
    }
    .home h3 {
        text-align: center;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: white;
        margin-top: 10px;
        padding-top: 0;
        font-size: 30px;
    }
    .index-event{
        height: fit-content;
        background-color: antiquewhite;
        overflow: hidden;
        border-radius: 2%;
    }
    .index-event h1{
        text-align: center;
        font-size: 40px;
        font-family: 'Courier New', Courier, monospace;
        margin: 20px;
    }
    .index-event p a{
        text-decoration: none;
        color: red;
        font-size: 30px;
        text-align: center;

    }
    .index-event p{
        text-align: center;
        font-size: 20px;
    }
    .ievent{
        height: 99%;
        width: 99%;
    }
    .devent{
        overflow: hidden;
        margin: 20px;
        position: relative;
    }
    .devent img{
        width: 98%;
        height: 90%;
        border-radius: 30%;
    }
    .event-details{
        text-align: center;
        position: absolute;
        top: 20%;
        left: 10%; 
        padding: 5px;
        background-color: transparent;
        color: whitesmoke;
        font-size: 20px;  
    }
    .event-details a{
        text-decoration: none;
        color: green;
    }
    .event-details a:hover {
        color: blue;
    }
    .index-about{
        height: 50vh;
        overflow: hidden;
    }
    .index-about h1{
        font-size: 50px;
        text-align: center;
    }
    .index-about p{
        font-size: 15px;
        padding: 0 10px;
    }
    .index-inspiration{
        height: 50vh;
        overflow: hidden;
        background-color: antiquewhite;
        border-radius: 10%;
        border: 5px dotted greenyellow;
    }
    .index-inspiration h1{
        font-size: 40px;
        text-align: center;
    }
    .index-inspiration p{
        font-size: 15px;
        padding: 0 10px;
    }
    .socials{
        width: 95vw;
        height: fit-content;
        text-align: center;
        margin: 10px 5px 0 5px;
    }
    .socials h1{
        text-align: center;
        font-size: 30px;
        font-family: 'Courier New', Courier, monospace;
    }
    .icons{
        display: flex;
        width: 98%;
        height: 90%;
        justify-content: space-around;
    }
    .icon p{
        font-size: 15px;
        color: white;
        margin-top: 0;
    }
    .fa {
        padding: 10px 0;
        text-align: center;
        text-decoration: none;
        margin: 0 2px;
        width: 70px;
    }

    .fa:hover {
        opacity: 0.7;
    }

    .fa-facebook {
        background: #3B5998;
        color: white;
    }

    .fa-twitter {
        background: #55ACEE;
        color: white;
    }
    .fa-youtube {
        background: #bb0000;
        color: white;
    }

    .fa-instagram {
        background: #125688;
        color: white;
    }


    footer{
        text-align: center;
        color: green;
        margin-bottom: 0%;
        padding-bottom: 0%;
    }

    footer a{
        color: white;
    }

    @keyframes head{
        0%, 100%{
            background-color: aliceblue;
        }
        20%{
            background-color: blue;
        }
        40%{
            background-color: red;
        }
        60%{
            background-color: purple;
        }
        80%{
            background-color: blueviolet;
        }
    }
}