{% extends 'layout.html' %}
{% block body %}

    <div class="about" id="about">
        <h1>Welcome get to know us!</h1>
        <div class="about-first" id="about-first">
            <div class="what" id="what">
                <div class="text" id="text">
                    <h2>what is Wakanakahub</h2>
                    <p>Lorem ipsum, dolor sit amet consectetur 
                        adipisicing elit. Vel quod libero eaque cum 
                        nam vitae ipsa aspernatur perferendis qui 
                        eligendi blanditiis provident deserunt tempora, 
                        harum corrupti iusto beatae sunt illum.\
                        Lorem ipsum, dolor sit amet consectetur 
                        adipisicing elit. Vel quod libero eaque cum 
                        nam vitae ipsa aspernatur perferendis qui 
                        eligendi blanditiis provident deserunt tempora, 
                        harum corrupti iusto beatae sunt illum.\
                        Lorem ipsum, dolor sit amet consectetur 
                        adipisicing elit. Vel quod libero eaque cum 
                        nam vitae ipsa aspernatur perferendis qui 
                        eligendi blanditiis provident deserunt tempora, 
                        harum corrupti iusto beatae sunt illum.\
                        Lorem ipsum, dolor sit amet consectetur 
                        adipisicing elit. Vel quod libero eaque cum 
                        nam vitae ipsa aspernatur perferendis qui 
                        eligendi blanditiis provident deserunt tempora, 
                        harum corrupti iusto beatae sunt illum.\
                        Lorem ipsum, dolor sit amet consectetur 
                        adipisicing elit. Vel quod libero eaque cum 
                        nam vitae ipsa aspernatur perferendis qui 
                        eligendi blanditiis provident deserunt tempora, 
                        harum corrupti iusto beatae sunt illum.\
                        Lorem ipsum, dolor sit amet consectetur 
                        adipisicing elit. Vel quod libero eaque cum 
                        nam vitae ipsa aspernatur perferendis qui 
                        eligendi blanditiis provident deserunt tempora, 
                        harum corrupti iusto beatae sunt illum.\
                        Lorem ipsum, dolor sit amet consectetur 
                        adipisicing elit. Vel quod libero eaque cum 
                        nam vitae ipsa aspernatur perferendis qui 
                        eligendi blanditiis provident deserunt tempora, 
                        harum corrupti iusto beatae sunt illum.\
                        Lorem ipsum, dolor sit amet consectetur 
                        adipisicing elit. Vel quod libero eaque cum 
                        nam vitae ipsa aspernatur perferendis qui 
                        eligendi blanditiis provident deserunt tempora, 
                        harum corrupti iusto beatae sunt illum.\
                    </p>
                </div>
                <img class="a-image" src="../static/images/photo9.jpg" alt="a picture showing who we are">
            </div>
            <div class="how" id="how">
                <img class="a-image" src="../static/images/photo8.jpg" alt="a picture showing who we are">
                <div class="text" id="text">
                    <h2>How It Started</h2>
                    <p>Lorem ipsum, dolor sit amet consectetur 
                        adipisicing elit. Vel quod libero eaque cum 
                        nam vitae ipsa aspernatur perferendis qui 
                        eligendi blanditiis provident deserunt tempora, 
                        harum corrupti iusto beatae sunt illum.\
                        Lorem ipsum, dolor sit amet consectetur 
                        adipisicing elit. Vel quod libero eaque cum 
                        nam vitae ipsa aspernatur perferendis qui 
                        eligendi blanditiis provident deserunt tempora, 
                        harum corrupti iusto beatae sunt illum.\
                        Lorem ipsum, dolor sit amet consectetur 
                        adipisicing elit. Vel quod libero eaque cum 
                        nam vitae ipsa aspernatur perferendis qui 
                        eligendi blanditiis provident deserunt tempora, 
                        harum corrupti iusto beatae sunt illum.\
                        Lorem ipsum, dolor sit amet consectetur 
                        adipisicing elit. Vel quod libero eaque cum 
                        nam vitae ipsa aspernatur perferendis qui 
                        eligendi blanditiis provident deserunt tempora, 
                        harum corrupti iusto beatae sunt illum.\
                        Lorem ipsum, dolor sit amet consectetur 
                        adipisicing elit. Vel quod libero eaque cum 
                        nam vitae ipsa aspernatur perferendis qui 
                        eligendi blanditiis provident deserunt tempora, 
                        harum corrupti iusto beatae sunt illum.\
                    </p>
                </div>
            </div>
            <div class="identity" id="identity">
                <div class="text" id="text">
                    <h2>Our Identity</h2>
                    <p>Lorem ipsum, dolor sit amet consectetur 
                        adipisicing elit. Vel quod libero eaque cum 
                        nam vitae ipsa aspernatur perferendis qui 
                        eligendi blanditiis provident deserunt tempora, 
                        harum corrupti iusto beatae sunt illum.\
                        Lorem ipsum, dolor sit amet consectetur 
                        adipisicing elit. Vel quod libero eaque cum 
                        nam vitae ipsa aspernatur perferendis qui 
                        eligendi blanditiis provident deserunt tempora, 
                        harum corrupti iusto beatae sunt illum.\
                        Lorem ipsum, dolor sit amet consectetur 
                        adipisicing elit. Vel quod libero eaque cum 
                        nam vitae ipsa aspernatur perferendis qui 
                        eligendi blanditiis provident deserunt tempora, 
                        harum corrupti iusto beatae sunt illum.\
                        Lorem ipsum, dolor sit amet consectetur 
                        adipisicing elit. Vel quod libero eaque cum 
                        nam vitae ipsa aspernatur perferendis qui 
                        eligendi blanditiis provident deserunt tempora, 
                        harum corrupti iusto beatae sunt illum.\
                        Lorem ipsum, dolor sit amet consectetur 
                        adipisicing elit. Vel quod libero eaque cum 
                        nam vitae ipsa aspernatur perferendis qui 
                        eligendi blanditiis provident deserunt tempora, 
                        harum corrupti iusto beatae sunt illum.\
                        Lorem ipsum, dolor sit amet consectetur 
                        adipisicing elit. Vel quod libero eaque cum 
                        nam vitae ipsa aspernatur perferendis qui 
                        eligendi blanditiis provident deserunt tempora, 
                        harum corrupti iusto beatae sunt illum.\
                    </p>
                </div>
                <img class="a-image" src="../static/images/photo7.jpg" alt="a picture showing who we are">
            </div>
        </div>
    </div>

{% endblock %}