{% extends 'layout.html' %}
{% block body %}
<h1 class="hhhh">Meet The Team Behind Wakanakahub</h1>
<div class="us" id="us">
    <div class="board">
        <h1>FOUNDER AND MODELS Manager</h1>
        <h2>kimley Panashe Matunga</h2>
        <div class="bbbb">
            <img class="apanashe" src="../static/images/panashe.jpg" alt="a picture of Panashe">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                Totam, odit nam? Vel accusantium rem neque beatae? Quos, 
                dolore vero laboriosam, vel consequuntur tenetur ab inventore 
                consequatur officiis quibusdam voluptas doloribus!
            </p>
        </div>
    </div>
    <div class="board">
        <h1>CEO</h1>
        <h2>Ryan</h2>
        <div class="bbbb">
            <img class="aryan" src="../static/images/ryan.jpg" alt="a picture of Ryan">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                Totam, odit nam? Vel accusantium rem neque beatae? Quos, 
                dolore vero laboriosam, vel consequuntur tenetur ab inventore 
                consequatur officiis quibusdam voluptas doloribus!
            </p>
        </div>
    </div>
    <div class="board">
        <h1>Event Planning Manager</h1>
        <h2>Gina Ngwerume</h2>
        <div class="bbbb">
            <img class="agina" src="../static/images/" alt="a picture of Gina">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                Totam, odit nam? Vel accusantium rem neque beatae? Quos, 
                dolore vero laboriosam, vel consequuntur tenetur ab inventore 
                consequatur officiis quibusdam voluptas doloribus!
            </p>
        </div>
    </div>
    <div class="board">
        <h1>Director</h1>
        <h2>Victor</h2>
        <div class="bbbb">
            <img class="avictor" src="../static/images/victor.jpg" alt="a picture of Victor">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                Totam, odit nam? Vel accusantium rem neque beatae? Quos, 
                dolore vero laboriosam, vel consequuntur tenetur ab inventore 
                consequatur officiis quibusdam voluptas doloribus!
            </p>
        </div>
    </div>
    <div class="board">
        <h1>Director</h1>
        <h2>Merjury</h2>
        <div class="bbbb">
            <img class="amerjury" src="../static/images/merjury.jpg" alt="a picture of Merjury">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                Totam, odit nam? Vel accusantium rem neque beatae? Quos, 
                dolore vero laboriosam, vel consequuntur tenetur ab inventore 
                consequatur officiis quibusdam voluptas doloribus!
            </p>
        </div>
    </div>
    <div class="board">
        <h1>Director</h1>
        <h2>Hillary</h2>
        <div class="bbbb">
            <img class="ahillary" src="../static/images/" alt="a picture of Hillary">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                Totam, odit nam? Vel accusantium rem neque beatae? Quos, 
                dolore vero laboriosam, vel consequuntur tenetur ab inventore 
                consequatur officiis quibusdam voluptas doloribus!
            </p>
        </div>
    </div>
    <div class="board">
        <h1>Event Planning</h1>
        <h2>Cynthia Tapfuma Mapando, BlackbirdZimbabwe</h2>
        <div class="bbbb">
            <img class="acynthia" src="../static/images/cynthia.jpg" alt="a picture of Cynthia">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                Totam, odit nam? Vel accusantium rem neque beatae? Quos, 
                dolore vero laboriosam, vel consequuntur tenetur ab inventore 
                consequatur officiis quibusdam voluptas doloribus!
            </p>
        </div>
    </div>
    <div class="board">
        <h1>Director</h1>
        <h2>Manizo</h2>
        <div class="bbbb">
            <img class="amanizo" src="../static/images/manizo.jpg" alt="a picture of Manizo">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                Totam, odit nam? Vel accusantium rem neque beatae? Quos, 
                dolore vero laboriosam, vel consequuntur tenetur ab inventore 
                consequatur officiis quibusdam voluptas doloribus!
            </p>
        </div>
    </div>
    <div class="board">
        <h1>Director</h1>
        <h2>Tatenda Katema</h2>
        <div class="bbbb">
            <img class="atatenda" src="../static/images/Tatenda.jpeg" alt="a picture of Tatenda">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                Totam, odit nam? Vel accusantium rem neque beatae? Quos, 
                dolore vero laboriosam, vel consequuntur tenetur ab inventore 
                consequatur officiis quibusdam voluptas doloribus!
            </p>
        </div>
    </div>

</div>

{% endblock %}