{% extends 'layout.html' %}
{% block body %}

<div class="allevents" id="allevents">

    <div class="buttons" id="buttons">
        <button onclick="openprevents()">Checkout our previous events</button>
        <button onclick="openupevents()">up coming events</button>
    </div>
</div>
<div class="upevents" id="upevents">
    <div class="udevent" id="udevent">
        <img src="../static/images/file.enc" alt="our logo">
        <div class="uevent-details">
            <p> Tatenda's birthday party</p>
            <p>Date: 19/12/1997</p>
            <p>Location: joburg</p>
            <p>Time: 1800hrs </p>
            <p>Lorem ipsum dolor sit amet consectetur, 
                adipisicing elit. Earum, quas temporibus 
                aperiam cupiditate deserunt voluptatem 
                accusantium repudiandae consequuntur at 
                nisi, ullam praesentium corporis distinctio? 
                Dolore error incidunt ut. Ducimus, 
                fugiat!
            </p>
            <a href="{{'events'}}">For Details</a>
        </div>
    </div>
    <div class="udevent" id="udevent">
        <img src="../static/images/file.enc" alt="our logo">
        <div class="uevent-details">
            <p> Tatenda's birthday party</p>
            <p>Date: 19/12/1997</p>
            <p>Location: joburg</p>
            <p>Time: 1800hrs </p>
            <p>Lorem ipsum dolor sit amet consectetur, 
                adipisicing elit. Earum, quas temporibus 
                aperiam cupiditate deserunt voluptatem 
                accusantium repudiandae consequuntur at 
                nisi, ullam praesentium corporis distinctio? 
                Dolore error incidunt ut. Ducimus, 
                fugiat!
            </p>
            <a href="{{'events'}}">For Details</a>
        </div>
    </div>
    <div class="udevent" id="udevent">
        <img src="../static/images/file.enc" alt="our logo">
        <div class="uevent-details">
            <p> Tatenda's birthday party</p>
            <p>Date: 19/12/1997</p>
            <p>Location: joburg</p>
            <p>Time: 1800hrs </p>
            <p>Lorem ipsum dolor sit amet consectetur, 
                adipisicing elit. Earum, quas temporibus 
                aperiam cupiditate deserunt voluptatem 
                accusantium repudiandae consequuntur at 
                nisi, ullam praesentium corporis distinctio? 
                Dolore error incidunt ut. Ducimus, 
                fugiat!
            </p>
            <a href="{{'events'}}">For Details</a>
        </div>
    </div>
</div>
<div class="upevents" id="prevents">
    <div class="udevent" id="pdevent">
        <img src="../static/images/file.enc" alt="our logo">
        <div class="uevent-details">
            <p> merjury's birthday party</p>
            <p>Date: 29/11/2023</p>
            <p>Location: harare</p>
            <p>Time: 1800hrs </p>
            <p>Lorem ipsum dolor sit amet consectetur, 
                adipisicing elit. Earum, quas temporibus 
                aperiam cupiditate deserunt voluptatem 
                accusantium repudiandae consequuntur at 
                nisi, ullam praesentium corporis distinctio? 
                Dolore error incidunt ut. Ducimus, 
                fugiat!
            </p>
            <a href="{{'events'}}">For Details</a>
        </div>
    </div>
    <div class="udevent" id="pdevent">
        <img src="../static/images/file.enc" alt="our logo">
        <div class="uevent-details">
            <p> merjury's birthday party</p>
            <p>Date: 29/11/2023</p>
            <p>Location: harare</p>
            <p>Time: 1800hrs </p>
            <p>Lorem ipsum dolor sit amet consectetur, 
                adipisicing elit. Earum, quas temporibus 
                aperiam cupiditate deserunt voluptatem 
                accusantium repudiandae consequuntur at 
                nisi, ullam praesentium corporis distinctio? 
                Dolore error incidunt ut. Ducimus, 
                fugiat!
            </p>
            <a href="{{'events'}}">For Details</a>
        </div>
    </div>
    <div class="udevent" id="pdevent">
        <img src="../static/images/file.enc" alt="our logo">
        <div class="uevent-details">
            <p> merjury's birthday party</p>
            <p>Date: 29/11</p>
            <p>Location: harare</p>
            <p>Time: 1800hrs </p>
            <p>Lorem ipsum dolor sit amet consectetur, 
                adipisicing elit. Earum, quas temporibus 
                aperiam cupiditate deserunt voluptatem 
                accusantium repudiandae consequuntur at 
                nisi, ullam praesentium corporis distinctio? 
                Dolore error incidunt ut. Ducimus, 
                fugiat!
            </p>
            <a href="{{'events'}}">For Details</a>
        </div>
    </div>
</div>

{% endblock %}