<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wakanaka</title>
    <link rel="stylesheet" href="../static/index.css" />
</head>
<body>
    <header class="header" id="header">
        <nav class="navi" id="navi">
            <a>home</a>
            <a>about us</a>
            <a>our mission</a>
            <a>our inspiration</a>
            <a>board members</a>
        </nav>
        <h1>Welcome to wakanaka</h1>
        <h2>The hub of excellence</h2>
    </header>
</body>
</html>