{% extends 'layout.html' %}
{% block body %}

    <div class="home" id="home">
        <h1 class="animate__animated animate__fadeInTopLeft">WELCOME TO</h1>
        <h2 class="animate__animated animate__fadeInTopRight">Wakanaka</h2>
        <h3 class="animate__animated animate__fadeInBottomLeft">The hub  of Excellence</h3>
    </div>
    <div class="index-event" id="index-about">
        <h1>Our up coming events!!!!</h1>
        <p>Click Here to view<a href="{{'events'}}">All Events</a></p>
        <div class="ievent">
            <div class="events-list" id="event-list">
                <div class="devent" id="devent">
                    <img src="../static/images/file.enc" alt="our logo">
                    <div class="event-details">
                        <p> Tatenda's birthday party</p>
                        <p>Date: 19/12/2023</p>
                        <p>Location: joburg</p>
                        <p>Time: 1800hrs </p>
                        <a href="{{'events'}}">For Details</a>
                    </div>
                </div>
            </div>
            <div class="events-list" id="event-list">
                <div class="devent" id="devent">
                    <img src="../static/images/file.enc" alt="our logo">
                    <div class="event-details">
                        <p> Tatenda's birthday party</p>
                        <p>Date: 19/12/2023</p>
                        <p>Location: joburg</p>
                        <p>Time: 1800hrs </p>
                        <a href="{{'events'}}">For Details</a>
                    </div>
                </div>
            </div>
            <div class="events-list" id="event-list">
                <div class="devent" id="devent">
                    <img src="../static/images/file.enc" alt="our logo">
                    <div class="event-details">
                        <p> Tatenda's birthday party</p>
                        <p>Date: 19/12/2023</p>
                        <p>Location: joburg</p>
                        <p>Time: 1800hrs </p>
                        <a href="{{'events'}}">For Details</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="index-about" id="index-abou">
        <h1>who we are</h1>
        <p>Lorem ipsum dolor, sit amet consectetur 
            adipisicing elit. Odio labore, tempore 
            molestiae deserunt tempora temporibus 
            cumque consequatur harum commodi 
            incidunt aspernatur saepe libero facere
            debitis eum unde sequi accusantium 
            nihil. Lorem ipsum dolor, sit amet consectetur 
            adipisicing elit. Odio labore, tempore 
            molestiae deserunt tempora temporibus 
            cumque consequatur harum commodi 
            incidunt aspernatur saepe libero facere
            debitis eum unde sequi accusantium 
            nihil. Lorem ipsum dolor, sit amet consectetur 
            adipisicing elit. Odio labore, tempore 
            molestiae deserunt tempora temporibus 
            cumque consequatur harum commodi 
            incidunt aspernatur saepe libero facere
            debitis eum unde sequi accusantium 
            nihil.
        </p>
        <a href="{{'about'}}">READ MORE</a>
    </div>
    <div class="index-inspiration" id="index-inspiration">
        <h1>Our Inspiration</h1>
        <p>Lorem ipsum dolor, sit amet consectetur 
            adipisicing elit. Odio labore, tempore 
            molestiae deserunt tempora temporibus 
            cumque consequatur harum commodi 
            incidunt aspernatur saepe libero facere
            debitis eum unde sequi accusantium 
            nihil. Lorem ipsum dolor, sit amet consectetur 
            adipisicing elit. Odio labore, tempore 
            molestiae deserunt tempora temporibus 
            cumque consequatur harum commodi 
            incidunt aspernatur saepe libero facere
            debitis eum unde sequi accusantium 
            nihil. Lorem ipsum dolor, sit amet consectetur 
            adipisicing elit. Odio labore, tempore 
            molestiae deserunt tempora temporibus 
            cumque consequatur harum commodi 
            incidunt aspernatur saepe libero facere
            debitis eum unde sequi accusantium 
            nihil.
        </p>
        <a href="{{'about'}}">READ MORE</a>
    </div>
    <div class="socials">
        <h1>Check out our social media!</h1>
        <div class="social-icons">
            <div class="icons">
                <div class="icon">
                    <a href="#" class="fa fa-facebook"></a>
                    <p>facebook</p>
                </div>
                <div class="icon">
                    <a href="#" class="fa fa-youtube"></a>
                    <p>Youtube</p>
                </div>
                <div class="icon">
                    <a href="#" class="fa fa-instagram"></a>
                    <p>instagram</p>
                </div>
                <div class="icon">
                    <a href="#" class="fa fa-twitter"></a>
                    <p>Twitter</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}