{% extends 'layout.html' %}
{% block body %}
<h1 class="insp-h1">OUR MOTIVE!</h1>

<div class="insp">
    <h2>first topic</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Earum veniam at ad non sequi, soluta officia illum vero assumenda 
        itaque in adipisci quo. Laudantium repellendus quae a animi maiores 
        perferendis.
    </p>
</div>
<div class="insp">
    <h2>second topic</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Earum veniam at ad non sequi, soluta officia illum vero assumenda 
        itaque in adipisci quo. Laudantium repellendus quae a animi maiores 
        perferendis.
    </p>
</div>
<div class="insp">
    <h2>third topic</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Earum veniam at ad non sequi, soluta officia illum vero assumenda 
        itaque in adipisci quo. Laudantium repellendus quae a animi maiores 
        perferendis.
    </p>
</div>
{% endblock %}