<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wakanaka</title>
    <link rel="stylesheet" href="../static/index.css" />
    <link rel="stylesheet" href="../static/contacts.css" />
    <link rel="stylesheet" href="../static/events.css" />
    <link rel="stylesheet" href="../static/inspiration.css" />
    <link rel="stylesheet" href="../static/mission.css" />
    <link rel="stylesheet" href="../static/about.css" />
</head>
<body>
    <header class="header" id="header">
        <nav class="navi" id="navi">
            <a href="{{'/'}}">home</a>
            <a href="{{'about'}}">about us</a>
            <a href="{{'events'}}">Events</a>
            <a href="{{'mission'}}">our mission</a>
            <a href="{{'inspiration'}}">our inspiration</a>
            <a href="{{'board'}}">board members</a>
            <a href="{{'contacts'}}">get in touch</a>
            <span><a href="{{'Donations'}}">Donations</a></span>
        </nav>
    </header>
    {% block body %}
    {% endblock %}
</body>
</html>