<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wakanaka</title>
    <link rel="stylesheet" href="../static/index.css" />
</head>
<body>
    <header class="header" id="header">
        <nav class="navi" id="navi">
            <a>home</a>
            <a>about us</a>
            <a>Events</a>
            <a>our mission</a>
            <a>our inspiration</a>
            <a>board members</a>
            <a>get in touch</a>
            <span><a>Donations</a></span>
        </nav>
    </header>
    {% block body %}
    {% endblock %}
</body>
</html>